@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');
@import "tailwindcss";

@theme{
  --font-pacifico: 'Pacifico', serif;
  --font-inter: 'Inter', serif;
  --breakpoint-2x:  1535px;
  --breakpoint-xl: 1279px;
 --breakpoint-lg: 1024px;
 --breakpoint-md: 768px;
 --breakpoint-sm: 639px;
 --breakpoint-xs: 475px;
}

@layer base{
 body, .root{
  background-color: #F5F7FA;
 }
}